<!DOCTYPE html>
<html>
  <head>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Text openly here fam!.">
        <link rel="canonical" href="https://tp-stuff.vercel.app/room/">
        <link rel="stylesheet" href="/static/css/style.css">
        <meta property="og:title" content="Text openly here fam!">
        <meta property="og:description" content="Simple, open to all, chat area with NO restrictions!">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://tp-stuff.vercel.app/room">
        <meta property="og:image" content="https://tp-stuff/vercel.app/static/ecstasy.webp">
      </head>

  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
