<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Text openly here fam!.">
    <link rel="canonical" href="https://tp-stuff.vercel.app/room/">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/ecstasy.png">
    <meta property="og:title" content="Text openly here fam!">
    <meta property="og:description" content="Simple, open to all, chat area with NO restrictions!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tp-stuff.vercel.app/room">
    <meta property="og:image" content="https://tp-stuff.vercel.app/static/ecstasy.png">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://malsup.github.io/jquery.blockUI.js"></script>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
