{% extends 'base.html' %}

{% block title %}{{ _ip }} @ {{ roomname }}{% endblock %}

{% block body %}


<style>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #180845;
  padding: 20px;
}

h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #99ff00;
  font-weight: bold;
}
</style>
  <header>
    <h1>{{ roomname }}</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
<br><hr><br>


<ul class="chat-list">
  {% for message in messages %}
  <li>
    <img src="{{ message.avatar }}" alt="Avatar" class="avatar">
    <div class="message">
      <h3>{{ message.from }}</h3>
      <p>{{ message.content }}</p>
      <span class="time">{{ message.timestamp }}</span>
    </div>
  </li>
  {% endfor %}
</ul>

<form class="chat-form" method="POST">
    <input type="text" name="content" id="msg-box" placeholder="Text here..." autofocus onsubmit="load()">
    <button onclick="$.blockUI({'message':'<img src=\'//pcoelho.outsystemscloud.com/FullScreenAjaxWait/img/ajaxloader.gif\'>'})" type="submit">Send</button>
</form>


<script>
    window.onload = function(){
        window.scrollTo(0, 99999999999999999999999999);
        var input = document.getElementById("msg-box").focus()
    }

    function load(){
      $.blockUI({'message':'<img src="//pcoelho.outsystemscloud.com/FullScreenAjaxWait/img/ajaxloader.gif">'})
    }
</script>

{% endblock %}
