{% extends 'base.html' %}

{% block title %}{{ _ip }} @ {{ roomname }}{% endblock %}

{% block body %}
<h1>{{ roomname }}</h1>
<br><hr><br>
<div class="container">
    {% for message in messages %}
    <div class="message">
        <span class="sender">{{ message.from }}</span>
        <span class="time">{{ message.timestamp }}</span>
        <p>{{ message.content }}</p>
    </div>
    {% endfor %}
    
    <form class="form" method="POST">
        <input type="text" name="content" placeholder="Text here...">
        <button>Send</button>
    </form>
</div>

<script>
    window.onload = function(){
        window.scrollTo(0, window.innerHeight);
    }
</script>

{% endblock %}
