{% extends 'base.html' %}

{% block title %}{{ _ip }} @ {{ roomname }}{% endblock %}

{% block body %}
<div style="position: fixed; z-index: 9999; background-color: rgb(20, 1, 124);">
<h1>{{ roomname }}</h1>
<br><hr><br>
</div>

<ul class="chat-list">
  {% for message in messages %}
  <li>
    <img src="{{ message.avatar }}" alt="Avatar" class="avatar">
    <div class="message">
      <h3>{{ message.from }}</h3>
      <p>{{ message.content }}</p>
      <span class="time">{{ message.timestamp }}</span>
    </div>
  </li>
  {% endfor %}
</ul>

<form class="chat-form" method="POST">
    <input type="text" name="content" id="msg-box" placeholder="Text here..." autofocus onsubmit="load()">
    <button onclick="$.blockUI({'message':'<img src=\'//pcoelho.outsystemscloud.com/FullScreenAjaxWait/img/ajaxloader.gif\'>'})" type="submit">Send</button>
</form>


<script>
    window.onload = function(){
        window.scrollTo(0, 99999999999999999999999999);
        var input = document.getElementById("msg-box").focus()
    }

    function load(){
      $.blockUI({'message':'<img src="//pcoelho.outsystemscloud.com/FullScreenAjaxWait/img/ajaxloader.gif">'})
    }
</script>

{% endblock %}
